main {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
}

.card ion-button {
  margin-top: 30px;
}

.mensagem-erro {
  color: #e05151;
  text-align: start;
  margin: 6px 10px 4px;
}
